<html lang="en">
<head>
    <title>Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<div class="container-fluid" style="margin-top: 3%">
    <div class="row">
        <div class="col-sm">
            <h3>Add book</h3>
            <form id="addBookForm">
                Title:<br>
                <input type="text" name="title"/><br>
                Author:<br>
                <input type="text" name="author"/><br>
                ISBN:<br>
                <input type="text" name="isbn"/><br><br>
                <input class="button" type="submit" value="Save"/>
            </form>
        </div>
        <div class="col-sm text-center">
            <h3>Books</h3>
            <div>
                <button id="getBooks">Get all books</button>
                <table>
                    <thead>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    </thead>
                    <tbody id="booksTable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3>Search by title or ISBN</h3>
    <form id="searchForm">
        <input type="text" name="text"/>
        <input type="submit" value="Search"/>
    </form>
</div>

<script>
    function addBookToTable(book) {
        var $books = $('#booksTable');
        $books.append('<tr><td>' + book.title + '</td><td>' + book.author + '</td><td>' + book.isbn + '</td><td>' + book.id + '</td></tr>');
    }

    function refillBooksTable(response) {
        var $books = $('#booksTable');
        $books.empty();
        response.forEach(function (book) {
            addBookToTable(book);
        })
    }

    function updateBookList() {
        $.ajax({
            type: 'GET',
            url: '/books',
            success: function (response) {
                refillBooksTable(response);
            }
        });
    }

    $(function () {
        $(document).ready(function () {
            updateBookList();
        });

        $('#addBookForm').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/add-book',
                dataType: 'json',
                data: JSON.stringify({
                    title: $(this).find('[name=title]').val(),
                    author: $(this).find('[name=author]').val(),
                    isbn: $(this).find('[name=isbn]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (book) {
                    addBookToTable(book);
                }
            });
        });

        $('#searchForm').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'GET',
                url: '/book',
                dataType: 'json',
                data: {
                    text: $(this).find('[name=text]').val()
                },
                success: function (response) {
                    refillBooksTable(response);
                }
            });
        });

        $('#getBooks').click(function () {
            updateBookList();
        });
    });
</script>

</body>
</html>